Chapter 11 - exercises 11.1 and 11.2

In [1]:
import zoo

zoo.hours()

Open 9-5 daily

In [3]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

Chapter 16 - exercise 16.8

In [5]:
import sqlite3
conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books 
(title VARCHAR(20) PRIMARY KEY,
author VARCHAR(20),
year INT)''')

In [27]:
import sqlalchemy as sa
from sqlalchemy import select
conn = sa.create_engine('sqlite://')

In [37]:
result = conn.execute(books.select())

AttributeError: 'Engine' object has no attribute 'execute'

I am stumped by this attribute error and couldn't find a workable answer online. Error kept repeating no matter what I tried.